thml{
  font-family: "Noto Sans JP", sans-serif;
    
}
.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    z-index: 2;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

header{
    padding: 27px 0;
    position: fixed; /* ヘッダーを固定位置にする */
    width: 100%; /* 幅を100%に設定して、画面全体に広がるようにする */
    z-index: 1000; /* ヘッダーを最前面に配置 */
    background-color: #FFF3C7; /* ヘッダーの背景色を設定 */
}

/* ロゴのスタイル */
.header-logo{
    color: #F8809C;
    font-size: 24px;
    font-weight: 700;
}

.header_menu li {
    margin-left: 40px;
}

.header_menu li a{
    color: #8E7AB5;
}
.header_menu li a:hover{
    color: #F8809C;
    transition: .3s;
}
.header_menu li a{
    transition: .3s;
}


/*メイン*/
#hero {
    background-image: url("/images/47689.jpg");
    background-position: center;
    background-size: cover;
    height: 840px;
    display: flex;
    align-items: center;
    margin-bottom: 110px;
    position: relative;
}

#hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #8E7AB5;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 1;
}

.hero_inner {
    padding-top: 100px;
    color: white;
    text-align: center;
    z-index: 2;
}

.hero_inner p {
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
}

.hero_inner h1 {
    line-height: 2;
    font-size: 20px;
}


.title_work {
     font-size: 50px;
    font-weight: 700;
    margin-bottom: 150px;
    text-align: center;
    color: #E393B3;
}

.image-container img{
    width: 90%;
    align-items: center;
}

.image-container img {
    width: 300px; /* 画像の横幅を指定 */
    height: 300px; /* 画像の縦幅を指定 */
    border-radius: 50%; /* 正円にするための角の丸みを指定 */
}

.overlay {
    position: relative;
    overflow: hidden; /* 画像の外側にはみ出た部分を隠す */
    border-radius: 50%; /* 画像を正円にする */
}

.overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#F8809C;
    border-radius: 50%; /* 画像と同じ円形 */
    opacity: .4; /* 最初は非表示 */
    transition: opacity 0.3s ease; /* 不透明度の変化をアニメーション化 */
}

.overlay {
    position: relative;
    overflow: hidden; /* 画像の外側にはみ出た部分を隠す */
    width: 300px; /* 画像の横幅を指定 */
    height: 300px; /* 画像の縦幅を指定 */
    border-radius: 50%; /* 画像を正円にする */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 30px;
    opacity: 0; /* 最初は非表示 */
    transition: opacity 0.3s ease; /* 不透明度の変化をアニメーション化 */
}

.overlay:hover .overlay-content {
    opacity: 1; /* ホバー時にコンテンツを表示 */
}

/*About*/
#About {
    margin-bottom: 120px;
}

.title_About{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 100px;
    margin-top: 170px;
    text-align: center;
    color: #F8809C;
    
}
.About_inner{
    margin-bottom: 200px;
}

.column-40{
    width: 40%;
}
.column-55{
    text-align: right;
    width: 55%;
    color: #707070;
}

.column-55 h3 {
    font-weight: 500;
    padding-bottom: 20px;
    font-size: 50px;
    
}

.column-55 p {
    padding-bottom: 20px;
    font-size: 20px;
    line-height: 2;
    
}
#About img{
    border-radius: 50%;
}

#Contact {
    flex-direction: column;
    background-position: center;
    background-size: cover;
    height: 440px;
    display: flex;
    align-items: center;
    margin-bottom: 110px;
    margin-top: 100px;
    position: relative;
     text-align: center; 
    border: solid 3px #FEC7B4;
    border-radius: 20px;
}


.Contact_inner {
    margin-top: 50px;
    z-index: 2;
    text-align: center; /* テキストを中央寄せ */
}



.Contact_inner p {
 font-size: 50px;
    font-weight: 700;
    margin-bottom: 100px;
    text-align: center;
    color: #8E7AB5;
}

.Contact_inner h1 {
    line-height: 2;
    font-size: 18px;
    color: #8E7AB5;
    margin-bottom: 30px;
}

.title_SNS{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 100px;
    margin-top: 170px;
    text-align: center;
    color: #F8809C;
}


.container1 {
    width: 60%;
    max-width: 1120px;
    margin: 0 auto;
    z-index: 2;
    margin-bottom: 200px;
}

.overlay1 {
    width: 70px; /* 画像の横幅を指定 */
    height: 70px; /* 画像の縦幅を指定 */
    border-radius: 50%; /* 画像を正円にする */
    overflow: hidden; /* 画像の外側にはみ出た部分を隠す */
     display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
}


.footer_logo{
    text-align: center;
    color: #8E7AB5;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 100px;
}
/* タブレット以下の幅に対するスタイル */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
    
     .header-logo{
    color: #F8809C;
    font-size: 20px;
    font-weight: 700;
}
.header_menu li {
    margin-left: 30px;
}
    #hero {
    background-image: url("../images/夜景　街並み 47689.jpg");
    background-position: center;
    background-size: cover;
    height: 440px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    position: relative;
}

  .hero_inner p {
    font-size: 40px;
  }

  .hero_inner h1 {
    font-size: 16px;
  }
    
    .title_work {
     font-size: 50px;
    font-weight: 700;
    margin-bottom: 100px;
    text-align: center;
    color: #E393B3;
}
.image-container img{
    width: 90%;
    align-items: center;
}
    
    .image-container img {
    width: 180px; /* 画像の横幅を指定 */
    height: 180px; /* 画像の縦幅を指定 */
    border-radius: 50%; /* 正円にするための角の丸みを指定 */
}

    .overlay {
    position: relative;
    overflow: hidden; /* 画像の外側にはみ出た部分を隠す */
    border-radius: 50%; /* 画像を正円にする */
}

.overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#F8809C;
    border-radius: 50%; /* 画像と同じ円形 */
    opacity: .4; /* 最初は非表示 */
    transition: opacity 0.3s ease; /* 不透明度の変化をアニメーション化 */
}

.overlay {
    position: relative;
    overflow: hidden; /* 画像の外側にはみ出た部分を隠す */
    width: 180px; /* 画像の横幅を指定 */
    height: 180px; /* 画像の縦幅を指定 */
    border-radius: 50%; /* 画像を正円にする */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
    opacity: 0; /* 最初は非表示 */
    transition: opacity 0.3s ease; /* 不透明度の変化をアニメーション化 */
}

.overlay:hover .overlay-content {
    opacity: 1; /* ホバー時にコンテンツを表示 */
}
  .column-40 {
    width: 40%;
  }

  .column-55 {
    width: 55%;
  }
    
.column-55 h3 {
    font-weight: 500;
    padding-bottom: 10px;
    font-size: 30px;
}    
    
.column-55 p {
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 2;
    
}    

}

/* モバイルデバイスの幅に対するスタイル */
@media (max-width: 480px) {
  .container {
    width: 90%;
  }
  .hero_inner p {
    font-size: 30px;
  }

  .hero_inner h1 {
    font-size: 14px;
  }
    
.image-container img{
    width: 90%;
    align-items: center;
}
    
    .image-container img {
    width: 120px; /* 画像の横幅を指定 */
    height: 120px; /* 画像の縦幅を指定 */
    border-radius: 50%; /* 正円にするための角の丸みを指定 */
}

    .overlay {
    position: relative;
    overflow: hidden; /* 画像の外側にはみ出た部分を隠す */
    border-radius: 50%; /* 画像を正円にする */
}

.overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#F8809C;
    border-radius: 50%; /* 画像と同じ円形 */
    opacity: .4; /* 最初は非表示 */
    transition: opacity 0.3s ease; /* 不透明度の変化をアニメーション化 */
}

.overlay {
    position: relative;
    overflow: hidden; /* 画像の外側にはみ出た部分を隠す */
    width: 120px; /* 画像の横幅を指定 */
    height: 120px; /* 画像の縦幅を指定 */
    border-radius: 50%; /* 画像を正円にする */
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 20px;
    opacity: 0; /* 最初は非表示 */
    transition: opacity 0.3s ease; /* 不透明度の変化をアニメーション化 */
}

.overlay:hover .overlay-content {
    opacity: 1; /* ホバー時にコンテンツを表示 */
}
  .column-40 {
    width: 40%;
  }

  .column-55 {
    width: 55%;
  }

  
